<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="Current" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Image>monitor_view:stable</Image>
    <ContainerEngine>192.168.158.17:2375</ContainerEngine>
    <ContainerRegistry>192.168.158.17:5000</ContainerRegistry>
    <ContainerRegistryAddress>http://192.168.158.17:5000</ContainerRegistryAddress>
    <HelmChart>charts/monitor</HelmChart>
    <PublishProvider>Kubernetes</PublishProvider>
    <PublishMethod>Helm</PublishMethod>
    <ClusterSource>Local Kube Config</ClusterSource>
    <ClusterNamespace>monitor</ClusterNamespace>
    <ClusterContext>monitor_view</ClusterContext>
  </PropertyGroup>
</Project>