<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="Current" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <EngineUrl>http://192.168.158.17:2375</EngineUrl>
    <RegistryUrl>http://192.168.158.17:5000</RegistryUrl>
    <RegistryKind>Other</RegistryKind>
    <UserName />
    <PublishImage>monitor_view</PublishImage>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>06e8dc77-1df7-4edf-865d-131c611cd5f3</ProjectGuid>
  </PropertyGroup>
</Project>